<div class="home-banner">
  <h1>Le Wagon</h1>
  <p>
    <span data-controller="typed-js"></span>
  </p>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero odio esse placeat tenetur, molestiae magni totam reprehenderit aperiam, deserunt laborum iste accusamus iusto minus harum obcaecati? Eligendi deleniti iure cumque!
      Velit voluptas voluptatibus debitis minus qui voluptate necessitatibus numquam impedit delectus est vitae amet aut ad quod laudantium, hic cupiditate odio enim sint aperiam ex eos dicta! Debitis, tempore! Et.
      Suscipit cumque ea maxime ipsa vero qui ut natus maiores rem! Similique, libero. Aut eos quibusdam architecto obcaecati eveniet. Obcaecati, iusto architecto facilis assumenda neque illum sed modi dicta iure.
      Deleniti nam ipsam et a corporis quo explicabo incidunt libero qui dolor alias consequatur, earum eius natus pariatur ullam beatae, necessitatibus magni quia, neque exercitationem eligendi tenetur dicta inventore? Totam.
      Itaque cupiditate laboriosam hic praesentium iusto, dignissimos atque numquam! Sunt exercitationem esse et rem quia impedit sed libero earum, est voluptatibus dignissimos repellat alias aspernatur veniam, amet vel enim optio?
      Nisi sapiente eum deserunt perferendis adipisci cupiditate ad omnis, est accusantium animi minima quae velit modi ea quas, ullam quibusdam laudantium expedita voluptas non dolor vel aperiam? Nobis, doloribus modi?
      Neque hic sequi iure repellat cum eveniet quos. Quam explicabo facilis, odio debitis expedita autem ducimus placeat officiis, optio similique vel delectus ab quod maiores natus nobis rerum, aliquid totam!
      Voluptates nulla error reprehenderit eveniet at quae dicta id qui aspernatur! Placeat quo ullam, enim quibusdam numquam perferendis magnam doloremque iste accusamus alias consequuntur quod! Sunt harum inventore iure veniam.
      Quia accusantium rem at ullam tempora impedit placeat harum totam eos officia possimus vitae, delectus ad facere explicabo earum nihil? Provident ex delectus assumenda est, rerum numquam. Dicta, mollitia voluptates.
      Esse velit voluptates hic suscipit blanditiis repellendus doloribus consequatur, minima maxime, unde officiis dolores excepturi placeat corporis, iure dolore molestias soluta sit culpa veniam. Consequuntur sunt quibusdam totam libero doloremque!
      Similique mollitia voluptas quas exercitationem ut officia atque totam magni iusto officiis. Ea quas ratione facere sint minima magnam optio natus nulla velit culpa reprehenderit perspiciatis, ab earum, placeat atque.
      Quae commodi sunt libero nihil totam, in inventore omnis qui repellendus aperiam ducimus, pariatur odio suscipit quam possimus quo aut unde sapiente. Dignissimos, totam dolore rem voluptatibus ut libero sapiente.
      At dolor sapiente excepturi incidunt nihil delectus quod explicabo, qui soluta consequatur voluptatum eos, deserunt, itaque porro dicta quo atque ad eum maiores! Quam explicabo culpa porro, nostrum nesciunt quas.
      Nam distinctio nesciunt magni ipsum tenetur ea dolorem autem obcaecati quisquam, inventore qui veniam dolorum ipsam sint officiis molestias quibusdam libero laborum? Neque consectetur quia enim voluptates sint dolore optio?
      Voluptatibus adipisci minima totam numquam rem aperiam nobis, explicabo corrupti exercitationem, commodi quibusdam, voluptatem eos in ducimus sint mollitia aut harum ratione ipsa reprehenderit doloribus? Perspiciatis, ullam molestiae? Qui, molestiae!
      Labore earum, odio ipsa quae eaque ipsum ad debitis laborum, possimus quidem nulla veniam dolorem non fugiat mollitia quia atque fugit totam! Consequuntur commodi fugiat similique delectus, possimus sint maxime!
      Vitae laborum dolorum rerum quos, quaerat, ea odit eius dolore distinctio laudantium blanditiis ad odio labore doloremque fuga molestias repellendus maiores iure. Iste exercitationem minus doloremque vero tempore? Similique, sed!
      Ipsa sed ratione repellat assumenda quo natus impedit cum nihil blanditiis quod odio iusto sit ad magni deleniti neque culpa voluptas dicta, laborum eius similique iste voluptates. Nulla, vel quaerat?
      Consequuntur provident impedit odio quam laborum? Placeat voluptas id delectus voluptates nostrum ipsum eos maiores, corrupti quisquam architecto dolores magnam temporibus quidem quo nemo, fugit unde culpa? Aliquid, ea voluptas.
      Sapiente dicta repudiandae, accusamus maxime ratione labore eius et quisquam qui aliquam similique molestias voluptatibus corrupti ipsa! Cumque corrupti quidem est ab deserunt modi, eligendi incidunt optio soluta illum laudantium.
      Nostrum maiores fugit quaerat alias quibusdam harum laudantium necessitatibus exercitationem delectus hic accusamus itaque ad unde voluptas molestias a nisi quasi, neque aperiam perspiciatis soluta possimus! Maiores accusamus assumenda blanditiis!
      Animi, voluptatum unde similique quo deleniti explicabo cupiditate nobis. Omnis, ipsam in laboriosam placeat iste eius recusandae libero quas eaque natus nihil magnam fugit assumenda explicabo voluptate eligendi consequuntur rerum.
      Ipsum minus quae ipsam accusantium laborum! Cum explicabo molestiae officia suscipit ullam ipsa? Dolorem dicta temporibus tempora et nobis repellat magnam nulla? Consectetur consequatur quisquam dolores iure impedit, obcaecati earum.
      Quis labore illum deleniti veniam laudantium obcaecati eum eligendi in fugit, assumenda maiores earum perferendis, fuga animi eaque cumque mollitia libero voluptatum similique optio! Id delectus ab corrupti nesciunt deleniti.
      Perspiciatis adipisci itaque, dignissimos veritatis pariatur consequuntur consectetur labore saepe aut neque quis et laboriosam non assumenda esse, distinctio alias atque commodi illo cupiditate reiciendis natus, iusto facere nihil? Nisi?
      Accusamus, culpa doloremque magni ratione dignissimos error quibusdam libero, suscipit totam consequuntur quo non maiores esse, ipsum obcaecati. Et qui vel veritatis neque ea sapiente aperiam optio architecto beatae repellat.
      Repudiandae odio ipsum possimus consequatur accusamus laudantium, eaque corrupti. Iste enim laborum molestias quisquam nobis fuga natus iusto quae amet, molestiae asperiores. Odit ipsum odio recusandae accusantium rem dolores excepturi.
      Autem dicta atque blanditiis fugiat! Ea officiis recusandae totam, omnis non rerum eum beatae voluptatibus vitae magnam, quae, tenetur deserunt quos doloremque eligendi delectus nesciunt nisi incidunt voluptatem provident! Inventore.
      Deleniti ducimus quaerat vero laboriosam suscipit commodi explicabo numquam iusto expedita eius repellendus assumenda asperiores libero amet quo, quisquam aspernatur aliquid porro perferendis! Molestiae sunt, saepe deserunt debitis repellat sit?
      Pariatur voluptatibus vero asperiores iure aspernatur, autem id voluptates itaque, accusantium animi vitae laudantium nesciunt quae tempore vel odio reprehenderit voluptas maiores adipisci? Modi repudiandae minima a mollitia, eaque atque.
      Exercitationem cupiditate eveniet ex iste. Necessitatibus excepturi nesciunt eveniet illo debitis a atque quas ducimus, veritatis nemo laboriosam nulla non cum molestiae deserunt accusantium perspiciatis aut soluta recusandae laudantium optio.
      Molestias vero rem harum sapiente nisi veniam? Aliquam, ab voluptas, aut iste eos eum accusamus ducimus ad recusandae architecto assumenda, voluptate voluptatum nihil qui? Suscipit dolor explicabo dicta et dolore!
      Recusandae fugiat magnam omnis voluptates labore? Doloremque libero ratione asperiores nobis suscipit, alias provident facere earum impedit ad explicabo ea magni, velit, dolorum eum harum. Maiores laboriosam aliquam facilis nam?
      Itaque odit molestiae, accusantium totam deleniti dolorem animi praesentium voluptatibus ratione fuga placeat, eaque quam eos quas sed illo blanditiis? Quia dolores quidem unde cumque? Id nostrum asperiores neque in?
      Incidunt quasi exercitationem totam id recusandae ullam accusantium eos quam nemo quod non illo, deserunt voluptas nihil nostrum atque cupiditate saepe voluptatum excepturi, perspiciatis quae itaque, beatae consectetur libero. Voluptatibus!
      Adipisci amet dicta, quasi veritatis ex autem. Eos libero totam consequuntur ex mollitia! Vitae repudiandae tempore at aspernatur officiis esse consectetur voluptatem fuga fugit, cupiditate veniam dolor delectus ad. Modi.
      Quidem asperiores repudiandae dolorem eos consequatur dolore error et, laborum, harum, vitae officiis nihil suscipit eveniet doloribus odio! Explicabo deleniti atque consequatur eius dolores fugit, repellat modi labore officia itaque?
      Accusamus a voluptates quam expedita fugit, cum illum ex velit veniam porro pariatur sequi voluptatem deleniti voluptatibus iste. Nam officia alias unde recusandae necessitatibus expedita provident maxime animi a sunt!
      Minus distinctio libero aliquam iste quidem reprehenderit a, voluptate molestiae ratione ea? Nihil molestias, reprehenderit atque inventore laudantium dicta voluptate nostrum in corporis veritatis laborum repellendus fugiat. Dolorem, quae dignissimos.
      Non dignissimos doloremque, minus reiciendis saepe sapiente distinctio magni dolore, voluptate accusamus dolor doloribus recusandae similique quia repellat, ad in vel modi natus corporis! Corporis ullam assumenda eveniet optio ratione.
      Maxime officia illo, error in deleniti dolores tenetur, ex temporibus adipisci perferendis nihil magnam sed dolorum cumque obcaecati quo rerum eligendi sapiente voluptatem facere molestiae. Sed consequuntur ipsum assumenda iste!
      Sunt aperiam sequi ipsum alias culpa distinctio sit iusto, iure modi esse tempora et animi voluptas expedita dolorem hic quidem eligendi. Consequatur et ex exercitationem minima fugiat sint ad incidunt.
      Illo quae error eius natus doloribus aliquam molestias ratione. Aut quia repellat eos quasi, nostrum placeat cum amet! Veritatis, optio. Quos vitae inventore tenetur quam repellat! Porro exercitationem aspernatur similique.
      Ipsa ad eaque veniam quia facere ea esse libero sint dolorum officia cumque, fugiat illum, tempora aliquid atque aspernatur officiis quibusdam possimus itaque? In expedita architecto natus asperiores exercitationem aliquid?
      Harum laborum culpa inventore iure ab officiis quos molestias necessitatibus error nulla. Modi libero, recusandae facilis nulla nemo quam, quas voluptatibus adipisci eveniet distinctio voluptatum, rerum soluta maxime magni. Quae.
      Eaque blanditiis commodi, est libero et autem recusandae eos? Quae expedita dolore accusantium perferendis rem velit esse et. Officia nulla consectetur est numquam nesciunt, totam aliquid repellendus in tenetur non!
      Inventore sapiente nisi deserunt. Repellendus atque magni autem, dolor fugiat architecto expedita molestias libero. Minima ipsa quisquam assumenda amet voluptates quaerat placeat recusandae, voluptatibus sapiente vero harum asperiores, nam cum.
      Cum, velit labore. Eos vero illum tenetur sint distinctio cum deserunt impedit enim. Earum modi nostrum accusantium quis nesciunt! Quo ab explicabo eaque nesciunt laudantium reprehenderit dolore reiciendis modi illum?
      Optio, quisquam reiciendis ad aperiam fugit, perferendis unde iste esse est similique tempora recusandae ut neque laboriosam magnam voluptates sapiente corporis vel id earum minima! Nostrum distinctio aspernatur aliquid quaerat?
      Beatae itaque ad perferendis esse consectetur excepturi ducimus, id debitis repellat laborum harum quam hic. Ea fugit totam voluptas ab hic similique possimus culpa earum eligendi excepturi aperiam, reiciendis corporis.
      Qui, voluptate illo? Accusantium incidunt et totam ad tempora deserunt dignissimos repellendus quas consequatur corrupti quibusdam, id, beatae sint fugiat aliquam, nemo omnis deleniti. Cupiditate quae eligendi possimus modi incidunt?
      Dicta culpa doloribus earum saepe ipsum incidunt rerum, provident, eligendi quae in aut magnam expedita fuga? Ducimus eos repellat reiciendis ratione, voluptates laborum fugiat eveniet enim? Dolor iste corporis pariatur!
      Velit, error architecto ratione reprehenderit dolorum voluptas corrupti amet numquam? Odit delectus necessitatibus aut, quis soluta voluptates sapiente! Ratione minima non obcaecati ad! Consequuntur perferendis sed veniam animi rerum saepe!
      Dicta quibusdam deleniti sapiente officiis voluptates rem, illum corrupti explicabo ratione perspiciatis labore, sunt ad quae itaque minima minus? Minima iste vel itaque, impedit deserunt laborum tempore suscipit inventore adipisci.
      Odit error quasi magni. Aspernatur, laborum assumenda repellat temporibus pariatur qui commodi, nulla asperiores reiciendis nam, quia sit quisquam optio animi sequi consequuntur laboriosam voluptatum iste hic blanditiis quasi aliquid?
      Earum ducimus veritatis suscipit nostrum magni eveniet fuga corporis at harum architecto quibusdam rem dolorum amet iste, provident corrupti alias fugiat hic odit quo maiores nemo? Aperiam modi pariatur sit?
      Minus, ea ipsam corrupti unde, eveniet deleniti maiores porro soluta, minima consectetur dolores quas hic quae eligendi esse. Deleniti, animi quis enim optio ut explicabo eius ipsam voluptate quasi nihil.
      Nisi aliquid necessitatibus est! Dicta vel quasi quo voluptatibus repellendus nostrum voluptatum, dolorem dolores officia, autem suscipit alias doloribus id similique ducimus. Perferendis itaque esse nulla nihil beatae a sequi!
      Nobis hic impedit, veritatis voluptate dolor odit quos ipsa. Explicabo molestias obcaecati aperiam dolore sequi dolorem earum, aliquam quae! Voluptatum repellendus ipsa debitis. Mollitia nobis enim architecto, maiores molestias quod.
      Quidem quibusdam aperiam minima culpa perferendis corporis ex a enim beatae, cum cumque suscipit sed, eius autem possimus veniam commodi dolore illo, incidunt voluptatibus corrupti. Necessitatibus culpa veritatis quod tenetur.
      Et quibusdam numquam voluptatum dignissimos debitis eum ex beatae ut neque, qui quas nostrum, atque laboriosam, sunt ipsa quasi enim illum inventore odio voluptatem repudiandae in. Minus libero laboriosam ab?
      Molestiae quis aliquid unde corporis porro laudantium dolores velit tempore autem? Aut quae neque laudantium ex pariatur consequatur numquam excepturi consequuntur aliquam, soluta, vero possimus hic fugiat error ea. Fugiat?
      Id atque recusandae ex aliquam quasi nesciunt eius porro voluptatum placeat nihil vel perspiciatis dolore incidunt modi quidem doloremque suscipit veniam culpa dolor cumque quod beatae, quia quibusdam laborum? Placeat.
      Recusandae esse quas cum, voluptate, placeat omnis sed maxime suscipit a nostrum natus hic molestias quam mollitia nisi beatae! Quae voluptatem iste pariatur aut itaque possimus soluta repellat ad consequatur!
      Maiores, earum repellendus. A suscipit molestias iure non, nam iusto mollitia doloremque libero sunt laudantium quis fuga. Amet sapiente vero eos facere, tenetur ducimus voluptatibus velit, nemo quam odit quia.
      Distinctio blanditiis a laboriosam in? Sunt, quae aperiam adipisci tempora officia commodi illo unde iusto incidunt numquam obcaecati placeat? Reprehenderit saepe tempora debitis delectus officia illo assumenda dolorum et fugit.
      Quo deleniti exercitationem ratione, nisi ad delectus assumenda impedit dolore cupiditate, fuga explicabo praesentium quasi mollitia veniam saepe tempore ea. Eaque, velit architecto modi consectetur assumenda aspernatur animi alias minima?
      Odio molestiae ipsum mollitia optio, expedita fugit laborum blanditiis ipsam modi asperiores, iusto accusamus enim. Saepe reprehenderit facilis officiis beatae blanditiis ratione iure? Fugit, porro. Fugiat, hic. A, corrupti perferendis?
      Dolorum, accusamus reprehenderit est itaque sunt vero iure unde labore obcaecati quia, error expedita libero, minima non dolorem at! Odit magni corporis unde blanditiis fugiat odio modi sed? Iste, rerum!
      Consectetur mollitia nostrum beatae error eius corporis illo nisi cum velit et aut nesciunt quidem, ducimus impedit consequatur dignissimos aliquid. Hic dolorem voluptatum earum aperiam blanditiis atque fugiat quam consectetur.
      Sit ducimus officiis ratione culpa. Adipisci eaque voluptas magnam perferendis unde cupiditate veritatis beatae, impedit ea? Inventore laboriosam perferendis iure nisi, amet alias distinctio quia nam, quae debitis, doloremque deleniti.
      Fuga, porro impedit harum ex aliquam quibusdam voluptate illum, perferendis quas quos itaque iste, sed voluptatibus. Minima cum, rem odio asperiores nemo totam. Perspiciatis, voluptatibus? Iure eaque ea recusandae harum!
      Vitae itaque libero molestias nemo a! Nihil nostrum laboriosam magni, aspernatur voluptatibus sit molestias, quibusdam dolorem corporis, quos reiciendis ipsam. Iste, rem officiis? Possimus laboriosam quaerat similique dolores, vel repellendus!
      Mollitia inventore excepturi cumque numquam a officia modi perferendis unde ipsum non voluptates delectus, quod ratione molestiae aspernatur asperiores reiciendis sint porro quasi quae quam itaque illum. Id, explicabo optio.
      Explicabo nostrum minus fugit veritatis id nam enim tempora fugiat quis maxime odit excepturi aliquam, sed esse facilis maiores temporibus assumenda eos optio labore nemo doloremque ullam. Laborum, assumenda minima.
      Odio, minima quos dolor nobis ea libero dolores necessitatibus magni quae minus placeat assumenda illum quia maiores consectetur, itaque eum. Dolor corrupti sit aut facere, amet dolorum delectus alias iusto.
      Consectetur qui laborum molestiae? Sequi earum magnam, nesciunt sapiente similique rerum amet delectus excepturi a! Aut id veritatis quos quisquam animi error, voluptates eveniet molestias autem ab ipsa obcaecati? Odit!
      Est ab inventore accusantium quibusdam quos nisi sunt recusandae eum optio. Libero neque, aut aspernatur quis perferendis, dolorum nostrum itaque ducimus id quibusdam quia illo eveniet a illum numquam soluta?
      Ratione, consequuntur voluptatum? Quisquam obcaecati placeat iste facere, cum ratione, repellendus error vel consequatur explicabo doloremque quidem est. Earum error officia voluptates ratione voluptas minus quod reprehenderit iusto necessitatibus dolorem!
      Debitis asperiores harum accusantium cum officiis tempora quasi cumque veritatis minima fugiat quod, rem mollitia repudiandae aut modi ab perferendis distinctio nemo atque quam. Modi optio amet provident et mollitia!
      Consectetur ex tenetur quidem voluptatum ipsa velit id. Ab, omnis perferendis. Alias quidem corporis sed. Ipsam cum doloremque quasi, voluptates illo alias exercitationem autem similique voluptate magni voluptatum aliquid reiciendis.
      Tenetur aperiam blanditiis facilis quisquam mollitia dolore officiis a obcaecati, ullam nisi velit laudantium nostrum possimus et. Maxime dolor amet tempora impedit voluptatibus, reiciendis molestias, culpa quo itaque non modi?
      Perspiciatis qui beatae labore, unde animi alias autem rerum, consectetur quod possimus aut adipisci accusantium necessitatibus ut consequuntur repudiandae delectus id ipsam totam consequatur. Incidunt sequi fugiat illum ex explicabo.
      Id assumenda nisi, saepe praesentium sequi ad! Cupiditate, sunt? Blanditiis molestiae doloribus eum laborum assumenda illum ipsum enim laudantium quae, rem eius quasi id quos autem quam explicabo perferendis quo?
      Odit id molestias esse ex in ipsa sit modi possimus magnam assumenda iusto aut tempore ducimus, eveniet culpa ipsam tenetur at, aliquam eos. Voluptatem quas iste facilis vero neque nemo.
      Nisi eos consequuntur voluptatum delectus facilis sint maiores illo architecto doloribus nulla. Sint, distinctio ipsa vitae, doloremque commodi aliquam velit autem, illo dolorum sequi eius cupiditate unde saepe quibusdam sunt!
      Quas, at harum ut quis officia nesciunt iste, corrupti quo corporis dignissimos dolor molestias aliquam magnam ad alias animi quidem officiis suscipit beatae saepe natus voluptas! Voluptates minus placeat perferendis!
      Nisi provident cupiditate quisquam doloribus, voluptate, perspiciatis facere quis recusandae autem illo blanditiis praesentium id incidunt cum molestias ipsa aperiam. Modi impedit facere unde ad quod eveniet voluptatum asperiores eos?
      Amet repudiandae veniam nobis laborum, eum, voluptatum quae placeat consequatur ducimus ipsa doloremque fuga? Doloribus magni minima nam rem, quasi ipsa, quas vero natus et autem dolor sed enim. Reiciendis!
      Eveniet aut nostrum magnam soluta officiis delectus asperiores. Quae odit dolorum magni quod! Aspernatur, quisquam ullam dolorum obcaecati blanditiis aliquam impedit! Praesentium possimus similique eligendi veritatis tempora numquam unde officia!
      Consequatur unde asperiores laborum aliquid ex laudantium repellat, consectetur tenetur. Recusandae vero magnam dicta saepe nostrum, quos quibusdam minima quam alias veniam quas dolorem asperiores, aspernatur, aut maiores corrupti officiis.
      Nobis, corrupti doloremque? Ipsum nam consequuntur temporibus maxime libero odio magni, ad vero nemo rem recusandae voluptatem quo deserunt sunt eum sapiente mollitia ullam? Ad, cupiditate? Omnis aspernatur eum saepe.
      Distinctio similique incidunt eum necessitatibus. Iure, facere? Dolore tempora autem ipsum sit quo expedita explicabo vel. Eum, dolorum vel velit minima, labore perferendis nostrum maiores provident numquam et incidunt dignissimos?
      Ipsum unde vero quam error velit, hic animi architecto placeat officiis repellat eveniet? Omnis mollitia sequi repellat dolorem, inventore veniam cumque nobis, nulla, accusantium ad praesentium suscipit pariatur. Vitae, corporis.
      Totam eligendi tempora obcaecati explicabo deleniti excepturi, exercitationem, temporibus maiores officia nisi molestiae assumenda, veritatis rerum nemo tempore. Ducimus, provident praesentium ea eligendi cupiditate natus? Sed libero repudiandae suscipit sunt?
      Alias repellendus beatae ipsam itaque eos? Tempora nulla eaque esse. Recusandae inventore ab doloribus dolorem sapiente pariatur. Placeat debitis voluptate, repellat excepturi odio optio magni totam? Repellat distinctio rem ab.
      Iusto molestias eum quaerat pariatur voluptate ab distinctio eos ullam odio aut tenetur mollitia cupiditate a, velit cumque! Nam reprehenderit voluptatem explicabo illo quia repellendus architecto, voluptates iusto quae cumque!
      Quod quas vero iste repellat quo, nam architecto illum amet explicabo maxime id, obcaecati commodi consequatur! Excepturi, voluptatum dignissimos, commodi accusamus cupiditate magni rerum illum quae, iure ea eum accusantium.
      Totam harum facilis eius quae? Explicabo perferendis dolorum nobis exercitationem velit dicta! Facere sunt quaerat repellendus eligendi quas odio dolorum recusandae eius fugiat id nisi vel assumenda, vero explicabo in.
      Laboriosam officiis suscipit, doloremque nobis voluptates corrupti. Quisquam at veritatis molestiae, eveniet ea cum in commodi optio eius quos! Sequi, atque voluptatem numquam eos nesciunt deserunt rerum libero vel a?
    </div>
  </div>
</div>

<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="logo"></div>

<div class="card" aria-hidden="true" style="width: 320px;">
  <img src="https://images.unsplash.com/photo-1652891179429-cfcabfa6e16c?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title placeholder-glow">
      <span class="placeholder col-6"></span>
    </h5>
    <p class="card-text placeholder-glow">
      <span class="placeholder col-7"></span>
      <span class="placeholder col-4"></span>
      <span class="placeholder col-4"></span>
      <span class="placeholder col-6"></span>
      <span class="placeholder col-8"></span>
    </p>
    <a href="#" tabindex="-1" class="btn btn-primary disabled placeholder col-6"></a>
  </div>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<div class="notification">
  <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
  <div class="notification-content">
    <p><small>14th January</small></p>
    <p>Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit.</p>
  </div>

  <div class="notification-actions">
    <a href="#">Edit <i class="fas fa-pencil-alt"></i></a>
    <a href="#">Delete <i class="far fa-trash-alt"></i></a>
  </div>
</div>

<div class="notification">
  <img src='https://kitt.lewagon.com/placeholder/users/Eschults' class="avatar-large"/>
  <div class="notification-content">
    <p><small>9th January</small></p>
    <p>Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit.</p>
  </div>

  <div class="notification-actions">
    <a href="#">Edit <i class="fas fa-pencil-alt"></i></a>
    <a href="#">Delete <i class="far fa-trash-alt"></i></a>
  </div>
</div>
